<!DOCTYPE html>

<html>

<head>
<title>Home</title>
</head>

<body>
<h1>Home page</h1>
<p>
This is my home page.
</p>
</body>

<%= link_to 'Articles Listing', articles_path %> | 
<%= link_to 'About', about_path %>