<div class="container">
  <footer>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    <small>
      Copyright &copy; 2017 <a href="#">Alpha Blog</a>
    </small>
  </footer>
</div>